Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-Limiter==3.8.0
sentry-sdk[flask]==2.13.0
SQLAlchemy==2.0.34
Jinja2==3.1.4
WeasyPrint==62.3
pydyf==0.10.0
xhtml2pdf==0.2.16
stripe==10.5.0
python-dotenv==1.0.1
gunicorn==22.0.0
